.ScreenTabs {
  box-shadow: 0px 0px 35px 7px rgb(0 0 0);
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 15px 17px 5px 17px;
  max-height: 8%;
  border: 2px solid rgb(57, 57, 57);
  background-color: #000000;
  border-radius: 8px;
  z-index: 9999;
  width: 91%;
}

.ScreenTab img {
  max-width: 100%;
  max-height: 100%;
  scale: 1.1;
  object-fit: contain;
  transition: filter 1s;
}

.tab-label-active {
  
  font-size: 17px;
}

.tab-label {
  
  font-size: 17px;
  
  
}

.ScreenTab {
  text-align: center;
  padding: 15px 0;
  display: inline-block;
  position: relative;
}

.ScreenActiveTab {
  box-shadow: 0px 0px 0px 3px #ff8800;
  margin: -2px 0px -2px 0px;
  border: none;
  border-radius: 12px; /* Скругленные углы */
  background-color: #ff8800; /* Цвет активной вкладки */
  color: white; /* Текст белым */
  font-weight: bold;
  font-size: 14px;
  padding: 2px 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.ScreenTab:not(.ScreenActiveTab) {
  
  color: rgb(116, 116, 116); /* Цвет текста неактивной вкладки */
  border-radius: 12px; /* Скругленные углы */
  font-weight: normal;
  font-size: 14px;
  padding: 2px 20px;
  text-align: center;
  
}

.ScreenActiveTab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
