.ScreenTabs {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 8%;
  border-bottom: 1px solid #f37500;
  z-index: 0;
}

.ScreenTab img {
  max-width: 100%;
  max-height: 100%;
  scale: 1.1;
  object-fit: contain;
  transition: filter 1s;
}

.tab-label-active{
  margin-top: 10px;
  font-size: 17px;
}
.tab-label{
  margin-top: 10px;
  font-size: 17px;
  color: #ff8800;
  margin-top: 10px;
}


.ScreenTab {
  
  
  
  
  text-align: center;
  padding: 15px 0;
  
  /* Эффект 3D-преобразования для вкладки */
  perspective: 200px;
  display: inline-block;
  
  position: relative; /* для псевдо-элемента */
}

.ScreenTab:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transform: rotateX(40deg); /* 3D-преобразование */
  transform-origin: 50% 100%;
  border-radius: 10px 10px 0 0;
  background-color: rgb(243 117 0 / 18%);
  z-index: -1;
}

.ScreenActiveTab {
  border-bottom: none;
  z-index: 2;
  
  position: relative;
  
  font-weight: bold;
  font-size: 14px;
  
  padding: 10px 20px;
  text-align: center;
  
  
}

.ScreenActiveTab:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  transform: rotateX(40deg); /* 3D-преобразование */
  transform-origin: 50% 100%;
  border-radius: 10px 10px 0 0;
  background-color: #ff8800; /* Цвет фона активной вкладки */
  z-index: -1;
}

.ScreenActiveTab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  z-index: -1;
}
