.ScreenTabs {
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 8%;
  border-bottom: 1px solid #f37500;
  z-index: 0;
}

.ScreenTab img {
  max-width: 100%;
  max-height: 100%;
  scale: 1.1;
  object-fit: contain;
  transition: filter 1s;
}

.ScreenTab {
  border: 1px solid var(--border-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  background-color: #2f292b;
  text-align: center;
  padding: 3px 0;
}

.ScreenActiveTab {
  background: linear-gradient(180deg, rgba(243, 117, 0, 0.391) 1%, #2f292b 61%);
  border-bottom: none;
  z-index: 1;
  border-color: #f37500;
  position: relative;
}

.ScreenActiveTab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #2f292b;
  z-index: -1;
}
