html, body, #root{
  background-color: black !important;;
}

.Menu {
  display: flex;
  flex-direction: column; /* Горизонтальное выравнивание по вертикали */
  justify-content: flex-start; /* Элементы выравниваются сверху */
  align-items: center; /* Центрируем элементы по горизонтали */
  position: fixed;
  bottom: 0%;
  z-index: 3;
  width: 100%;
  height: auto;
  padding-bottom: 3vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.MenuButtonContainer {
 
    padding: 2px;
  
    height: 7vh;
    position: absolute;
    display: flex
;
    justify-content: center;
    align-items: center;
    z-index: 4;
    bottom: 104%;
}

.BigButton {
  width: 200px; /* Ширина кнопки */
  height: 60px; /* Высота кнопки */
  background: linear-gradient(rgb(18, 4, 2) 0%, rgba(233, 27, 27, 0.12) 100%)2; /* Цвет кнопки */
  color: white; /* Цвет текста */
  font-size: 18px; /* Размер шрифта */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px; /* Скругленные углы */
  cursor: pointer;
  margin-bottom: 20px; /* Отступ снизу, чтобы разделить с ButtonMenu */
}

.ButtonMenu {
  padding-bottom: env(safe-area-inset-bottom);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  
  flex-direction: row;
}

.clothing-item-equip-button {
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.clothing-item-equip-button.active {
  background-color: #ff0000;
  border-color: #ff0000;
}

.clothing-item-equip-button.inactive {
  background-color: #22c7a32d;
  border-color: #22c7a3;
}

.MenuButtonBg{
  border-radius: 7px;
    border-bottom: solid 1px #b1b1b173;
    padding: 4px 3px 9px 3px;
    background-color: #121212d9;
    display: flex
;
    justify-content: center;
    align-items: center;
}
