.Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 3;
  height: 10%;
  padding-bottom: 2%;
}

.screenMenu {
  background-color: #2f292b;
  padding-top: 10px;
}

