.Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 3;
  height: 10%;
  padding-bottom: 2%;
}

.screenMenu {
  background-color: #2f292b;
  border-top: 1px solid #f37500;
  padding-top: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  animation: upTop 0.50s ease;
}

@keyframes upTop {
  0%{ 
    translate: 0 50px;
  }
  100%{
    translate: 0 0;
  }
}