.Home {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  height: 844px; /* Default: iPhone 12/13 */
  width: 390px;  /* Default: iPhone 12/13 */
}

.shelf1
{
  height: 30px;
  position: absolute;
  z-index: 2;
  right: 0;
  width: calc(50vw);
    height: 20px;
    bottom: calc(63vh);
}

.shelf2 {
  height: 30px;
  position: absolute;
  z-index: 2;
  right: 0;
  width: calc(50vw);
    height: 20px;
    bottom: calc(47vh);
}

.couch {
  
  position: fixed;
  z-index: 2;
  right: 0;
  width: calc(95vw);
    bottom: calc(-2vh + 10px);
}



  .shelf-container1 {
    bottom: calc(28.8vh);
    
    position: absolute;
    z-index: 1000;
  }

  .shelf-container2 {
    bottom: calc(12.8vh);
    
    position: absolute;
    z-index: 1000;
  }

  .shelf-flower,
  .shelf-award,
  .shelf-event {
    
    object-fit: contain;
    max-width: 33%;
    position: relative;
    z-index: 100;
  }

  .shelf-neko,
  .shelf-flag {
    
    max-width: 47%;
    position: relative;
    z-index: 100;
  }


.HomeInventory {
  position: absolute;
  right: 1%;
  bottom: calc(36vh);
  width: 50vw;
  height: 50%;
  display: flex;
  flex-direction: column;
  
}

.HomeInventoryHigh {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  gap: 5%;
}
.HomeInventoryBottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.HomePatImg {
  position: absolute;
  max-width: 100%;
  width: 40%;
  left: 25%;
  bottom: 20%;
}
