.CareFoodCard {
  display: flex;
  margin-bottom: 10px;
  height: 26%;
  width: 90%;
  margin: auto;
  color: #ffffff;
  border-bottom: 2px solid #453d3f;
  margin-bottom: 5%;
}

.CareFoodCard img {
  max-width: 100%;
  object-fit: contain;
}
.CareFoodCardParams {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  max-height: 80%;
  height: 80%;
}
.CareFoodCardParams span {
  background-color: #3b3537;
  padding: 1% 0;
  position: relative;
  text-align: center;
  object-fit: contain;
  border-radius: 8px;
}
.CareFoodCardParams span img {
  position: absolute;
  left: -3%;
  width: 29%;
  top: -1%;
  max-height: 100%;
}
.CareFoodCardParametersCooldown img {
  width: 15%;
}
.CareFoodCardReusableIcon {
  top: 50% !important;
  width: 16% !important;
  left: 6% !important;
  z-index: 1;
}

.CareFoodCardParametersCooldown {
  width: 100%;
  background-color: #3b3537;
  border-radius: 10px;
  position: relative;
  text-align: center;
  padding: 1% 0;
}

.CareFoodCardParametersCooldown img {
  position: absolute;
  left: 0;
  top: 0;
  width: 12%;
  max-height: 100%;
}
