.HomeHeader {
  width: 100%;
  position: fixed;
  padding-top: 3%;
  
  height: auto;
  overflow-x: hidden;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.HomeHeaderRow {
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2%;
}

.HomeHeaderIncome img {
  margin-left: -20px;
  max-width: 80%;
}

.HomeHeaderIncome {
  display: flex;
  justify-content: space-between;  /* Распределяем элементы по бокам */
  align-items: center;
  width: 40%;
  border: solid 1px rgb(243, 117, 0);
    backdrop-filter: blur(5px);
    background-color: #2508047a;
  border-radius: 5px;
}

.HomeHeaderIncome div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.HomeHeaderIncome div:nth-child(2) {
  
  font-family: "Muller";
  justify-content: center;
  text-shadow: 1px 1px 0px #2f292b, -1px -1px 0px #2f292b, 1px -1px 0px #2f292b, -1px 1px 0px #2f292b;
  width: 70%;
  font-size: 4cqw;
  
 
    padding-right: 35px;
}

.HomeHeaderIncome div:nth-child(2) span:nth-child(1) {
  color: white;
}

.HomeHeaderIncome div:nth-child(2) span:nth-child(2) {
  color: var(--main-orange);
}



.HomeHeaderRespect {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  
  color: white;

  
  font-size: 5cqw;
  letter-spacing: 1px;
  width: 30%;
  border: solid 1px rgb(243, 117, 0);
    backdrop-filter: blur(5px);
    background-color: #2508047a;
}

.HomeHeaderRespect span {
  padding-top: 4px;
  text-align: center;
  width: 100%;
   text-shadow: 1px 1px 0px #2f292b, -1px -1px 0px #2f292b, 1px -1px 0px #2f292b, -1px 1px 0px #2f292b;
}

.HomeHeaderRespect img {
  
  margin-left: -12px;
  max-width: 100%;
  width: 27%;
}

.HomeHeaderLevel {
  width: 20%;
  
  display: flex;
  text-shadow: 1px 1px 0px #2f292b, -1px -1px 0px #2f292b, 1px -1px 0px #2f292b, -1px 1px 0px #2f292b;
  align-items: center;
  justify-content: center;
  
  border-radius: 5px;
  color: white;
  position: relative;
  z-index: 0;
  overflow: hidden;

  border: solid 1px #22c7a3;
    backdrop-filter: blur(5px);
    background-color: #22c7a32d;
}

.HomeHeaderLevelCapacity {
  position: absolute;
  top: 0;
  left: 0; /* Начало заполнения слева */
  height: 100%; /* Высота бара */
  width: 0; /* По умолчанию ширина — 0, увеличивается по мере заполнения */
  border-radius: 5px 0 0 5px;  /* Скругление снизу */
  background: linear-gradient(
    to right, /* Градиент направлен слева направо */
    #22c7a31a,
    #22c7a3
  );
  z-index: -1;
  
}

.HomeHeaderLevel span:nth-child(1) {
  font-size: 5cqw;
  font-weight: bold;
}

.HomeHeaderLevel span:nth-child(2) {
  margin-left: 5px;
  font-size: 3cqw;
}

.PlayerIndicators {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 1.5%;
}

.HomeHeaderTopRow{
 margin-left: 7px;
 margin-bottom: 5px;
 display: flex;
 justify-content: space-between;
 padding-right: 10px;
 padding-left: 10px;
  }