.Modal {
  position: absolute;
  background: var(--main-black);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 1px solid gray;
  z-index: 2;
  container-type: size;
  color: white;
  padding: 5% 0;
}
.Modal img {
  max-width: 100%;
}
.ModalTitle {
  text-align: center;
  opacity: 0.8;
  font-size: 5cqw;
  height: 10%;
}

.ModalLogo {
  text-align: center;
  height: 40%;
}
.ModalLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.ModalBody img {
  width: 10%;
}

.ModalBody {
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  align-items: center;
  overflow-y: scroll;
}
.ModalBodyBlock {
  background-color: #3b3537;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  width: 80%;
  font-size: 3.5cqw;
  z-index: 0;
  font-weight: 200;
}
.ModalBodyBlock img {
  vertical-align: middle;
}
.ModalFooter {
  height: 15%;
  display: flex;
  font-size: 2cqw;

  justify-content: center;
}
.ModalFooter .Button span {
  font-size: 9cqw;
}
.progressFill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
 
  border-radius: 5px;
  z-index: -1;
}

.ModalClose {
  position: absolute;
  right: 5%;
  width: 5%;
  z-index: 1;
}
