.ScreenBody {
  
  position: absolute;
  height: 83%;
  width: 100%;
  top: 10%;
  padding-top: 4%;
}
.HomeHeaderBottomName {
  box-shadow: 
    inset 0 5px 5px -5px #F37500, 
    inset 0 -5px 5px -5px #F37500;
  border-top: solid 1px #F37500;
  border-bottom: solid 1px #F37500;
  animation: pulseBackground 6s infinite; /* Применяем пульсацию */
}

@keyframes pulseBackground {
  0% {
    background-color: #f3750010; /* Начальный цвет */
  }
  50% {
    background-color: #f3750023; /* Более насыщенный цвет */
  }
  100% {
    background-color: #f3750021; /* Возврат к начальному цвету */
  }
}