.ScreenBody {
  background: repeating-linear-gradient(45deg, #000000, #000000 10px, #3939390f 10px, #3939390f 20px);
  position: absolute;
  height: 100%;
  width: 100%;
 
  padding-top: 21vh;
}

.HomeHeaderBottomName {

  display: 'none';
  position: relative; /* Для псевдоэлементов */
  background: linear-gradient(90deg, rgba(34,199,163,0) 20%, rgba(189, 78, 4, 0.336) 50%, rgba(21,110,90,0) 80%);
  animation: pulseLinearGradient 6s infinite ease-in-out; /* Плавная анимация для фона */
}

.HomeHeaderBottomName::before,
.HomeHeaderBottomName::after {
  content: ""; /* Создаём пустой элемент */
  position: absolute;
  left: 0;
  right: 0;
  height: 1px; /* Толщина границы */
  background: radial-gradient(circle, rgb(255, 118, 0) 0%, transparent 70%); /* Градиент для псевдоэлементов */

}

.HomeHeaderBottomName::before {
  top: 0; /* Имитация border-top */
}

.HomeHeaderBottomName::after {
  bottom: 0; /* Имитация border-bottom */
}








