.Player img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}
.Player {
  position: relative;
  animation: breathe 2.5s ease-in-out infinite;
  transform-origin: bottom center;
}

.PlayerAvatar {
  z-index: 0;
}
.PlayerTop {
  z-index: 4;
}

.PlayerLegs {
  z-index: 3;
}
.PlayerFeet {
  z-index: 0;
}

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.005); /* Slight vertical stretch */
  }
}