.Player img {
  
  width: 100%;
  position: absolute;
  
  left: 0;
  bottom: 0;
}


.Player {
  position: absolute;
  left: 9vw;
  bottom: calc(-100vh + 50px);
  animation: breathe 2.5s ease-in-out infinite;
  transform-origin: bottom center;
}

.PlayerAvatar {
  z-index: 0;
  bottom: 0
  
}
.PlayerTop {
  z-index: 4;
  bottom: 0
}

.PlayerLegs {
  z-index: 3;
  bottom: 0
}
.PlayerFeet {
  z-index: 2;
  bottom: 0
}

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.005); /* Slight vertical stretch */
  }
}

.PlayerShadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0); /* Мягкий эффект тени */
}