.ItemCard {
  border: 1px solid rgb(57, 57, 57);
  background: 0% 0% / cover rgb(32, 32, 32);
  padding: 10px;
  height: 22vh;
 
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;  
  margin-bottom: 10px;
  width: 90%;
  margin: auto auto 10px auto;
  color: #ffffff;
  border-radius: 8px;
  position: relative;
  text-align: center;
  
}

.ItemTitle {
  padding: 0px 5px 0px 5px;
  margin: 10px 0px -10px 0px;
  font-size: 15px;
  position: relative; 
  z-index: 1; 
}


.ItemCard img {
  max-width: 100%;
  object-fit: contain;
}

.ItemCardAmount {
  position: absolute;
  top: 0.7%;
  left: 2%;
  width: 10%;
  font-size: 3cqw;
  background: rgb(111, 73, 129);
  background: linear-gradient(
    180deg,
    rgba(111, 73, 129, 1) 0%,
    rgba(160, 122, 236, 1) 50%
  );
  box-shadow: 0px 3px 0px 0px #442851;
  padding: 0.7% 0;
  text-align: center;
  border-radius: 5px;
}


.ItemCardParam {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.ItemCardParamBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  margin-left: 13px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.23);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px 2px inset;
  background: rgb(18, 18, 18);
  position: relative;
  text-align: center;
  border-radius: 5px;
  z-index: 0;
  overflow: visible;

  font-family: 'Anonymous pro';
  font-size: clamp(12px, 2vw, 20px); 
  text-transform: uppercase;
}

.ItemCardParamBlock span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; 
  border-radius: 5px; 
  z-index: -1;
  text-align: center;
}



.ItemCardParamBlock img {
  position: absolute;
  left: -6px;
  display: flex;
  top: -3%;
  max-height: 110%;
  z-index: 1;
}



.Button img {
  padding-bottom: 3px;
  width: 10%; /* Зависит от ширины кнопки */
  height: auto; /* Сохраняет пропорции */
  max-width: 24px; /* Максимальный размер */
  min-width: 16px; /* Минимальный размер */
  object-fit: contain; /* Сохраняет пропорции изображения */
}



.ItemData {
 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  align-items: center; 
}





.ItemDetailsContainer {
  padding-right: 13px;
  
   
  border-radius: 7px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 60%; /* Задаем ширину */
  
  height: 100%; /* Занимает всю высоту доступного пространства */
}

.ItemCardParams {
  display: flex;
  flex-direction: column;
  gap: 6px; /* Отступы между параметрами */
}

.ItemDescription {
  font-family: "Anonymous pro";
  font-size: 3.4cqw;
  text-align: center;
  padding: 0 0% 0 6%;
}

.ItemCardButtons {
  
    margin-left: 13px;
    display: flex
;
    flex-direction: column;
    gap: 17px;
}

/* Стили для изображения в контейнере ItemIconContainer */
.ItemIconContainer img,
.ItemCard img {
  transition: all 0.3s ease;
}

/* Стили для неактивных состояний */
.ItemCard img.inactive,
.ItemIconContainer img.inactive {
  filter: grayscale(100%) opacity(0.5); /* Обезцвечивание и полупрозрачность */
}

.inactive {
  filter: grayscale(100%) opacity(0.5);
}



/* Чтобы изображение оставалось поверх сетки */
.ItemIconContainer img {
  position: relative; 
  z-index: 1; 
  
    
    object-fit: contain;
    padding: 20px 12px 12px 12px;
    align-items: center;
    justify-content: center;
  
}


.ItemIconContainer {
  display: grid;

  overflow: hidden;
  border-bottom: 1px solid rgba(117, 117, 117, 0.23);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px 2px inset;
    margin: 7px 7px 7px 0px;
    border-radius: 7px;
  width: 40%; /* Задаем ширину для иконки */
  height: 100%;
  position: relative; /* Для корректной работы псевдоэлемента */
  z-index: 0; /* Сетка будет под изображением */
  
  /* Сетка из пересекающихся оранжевых линий */
  background: repeating-linear-gradient(45deg, #00000036, #00000036 2px, #3939390f 2px, #3939390f 6px);
}

/* Псевдоэлемент для градиента */
.ItemIconContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Над сеткой */
  background: linear-gradient(
    to bottom,
    #000000 0%,
    transparent 100%
  );
}

