.ItemCard {
  display: flex;
  margin-bottom: 10px;
  height: 26%;
  width: 90%;
  margin: auto;
  color: #ffffff;
  border-bottom: 2px solid #a08d92;
  margin-bottom: 5%;
  position: relative;
  container-type: size;
  flex-direction: column;
  text-align: center;
}

.ItemTitle {
  height: 10%;
}
.ItemData {
  height: 90%;
  display: flex;
}
.ItemCard img {
  max-width: 100%;
  object-fit: contain;
}

.ItemCardAmount {
  position: absolute;
  top: 0;
  left: 2%;
  width: 10%;
  font-size: 3cqw;
  background: rgb(111, 73, 129);
  background: linear-gradient(
    180deg,
    rgba(111, 73, 129, 1) 0%,
    rgba(160, 122, 236, 1) 50%
  );
  box-shadow: 0px 3px 0px 0px #442851;
  padding: 0.7% 0;
  text-align: center;
  border-radius: 5px;
}
.ItemCardParams {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 5%;
  max-height: 100%;
  height: 100%;
}

.ItemCardParam {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.ItemCardParamBlock {
  background-color: #3b3537;
  padding: 1% 0;
  position: relative;
  text-align: center;
  border-radius: 5px;
  z-index: 0;
}

.ItemCardParamBlock span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 5px;
  z-index: -1;
}

.ItemCardParamBlock img {
  position: absolute;
  left: -3%;
  width: 29%;
  top: -1%;
  max-height: 100%;
}

.ItemCardButtons {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
