.progress-bar-container-fixed-top {
  
    position: fixed;
    padding-top: 182.5px;
    width: 100vw;
    z-index: 1;
}


.progress-bar-container {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  transform: skew(-5deg);
  border-top: solid 1px #b1b1b173;
  padding: 4px;
  background-color: #212121d9;
  border-radius: 5px;
}

.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  
}

.progress-bar-header {
  display: flex;
  border-top-width: 3px;
  border-top-color: black;
  justify-content: space-between;
  align-items: center;
 
  color: white;
  padding: 12px 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  z-index: 1;
  
}

.progress-bar-icon-left,
.progress-bar-icon-right {
  position: absolute;
  top: 0px;
}

.progress-bar-icon-left {
  right: 4%;
}

.progress-bar-icon-right {
  right: 0%;
}

.progress-bar-label-left{

font-weight: 400;
position: absolute;
font-size: 15px;
top: 3px;
}

.progress-bar-label-right {
  padding-right: 10px;
  font-weight: 400;
  position: absolute;
  font-size: 15px;
  top: 3px;
}

.progress-bar-label-left {
  left: 2%;
}

.progress-bar-label-right {
  right: 9%;
  text-align: right;
}

.progress-bar {
  margin-right:9px;
 overflow: hidden;
 border-radius: 3px;
  position: relative;
  z-index: 0;
background-color: #8d8d8d69;
  
}

.progress-bar-fill {
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  height: 7px;
  transition: width 500ms linear;
}


.modal {
  background: repeating-linear-gradient(45deg, #00000045, #00000045 3px, #3939390f 3px, #3939390f 6px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgb(0 0 0 / 75%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border-bottom: 1px solid rgb(57, 57, 57);
    border-top: 1px solid rgb(57, 57, 57);
  color: #fff;
  background:  rgb(26, 26, 26);
  padding: 20px 45px 0px 45px;
 
  text-align: center;
  
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: -17px;
}

.modal-buttons button {
  border: 1px solid rgb(57, 57, 57);
  background:  rgb(26, 26, 26);
  margin: 0px 10px 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  width:16vh;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 8px 2px inset;

}
