.progress-bar-container-fixed-top {
  position: fixed;
  top: 14vh;
  width: 100vw;
}

.progress-bar-container {
  
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
 
}

.progress-bar-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(5px);
    border-radius: 17px;
}

.progress-bar-header {
  display: flex;
  border-top-width: 3px;
  border-top-color: black;
  justify-content: space-between;
  align-items: center;
 
  color: white;
  padding: 12px 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  z-index: 1;
  
}

.progress-bar-icon-left,
.progress-bar-icon-right {
  position: absolute;
  top: -10px;
}

.progress-bar-icon-left {
  left: -5%;
}

.progress-bar-icon-right {
  right: -5%;
}

.progress-bar-label-left{
padding-left: 30px;
font-weight: lighter;
position: absolute;
font-size: 13px;
top: 5px;
}

.progress-bar-label-right {
  padding-right: 10px;
  font-weight: lighter;
  position: absolute;
  font-size: 13px;
  top: 5px;
}

.progress-bar-label-left {
  left: 5%;
}

.progress-bar-label-right {
  right: 9%;
  text-align: right;
}

.progress-bar {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  z-index: 0;
background-color: rgba(243, 117, 0, 0.418);
  
}

.progress-bar-fill {
  background: linear-gradient(to right, #f7b733, #fc4a1a);
  height: 7px;
  transition: width 500ms linear;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  border: 1px solid rgb(57, 57, 57);
  color: #fff;
  background:  rgba(0,0,0,1);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}


