.Button {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  container-type: size;
  position: relative;
}
.Button span {
  font-size: 15cqw;
  letter-spacing: 1px;
  font-weight: bold;
}
.Button img {
  max-width: 100%;
  width: 20%;
  margin-right: 5%;
}

.Button:active {
  translate: -0px 5px;
}
