.Button {
  min-height: 60px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  container-type: size;
  position: relative;
}
.Button span {
  font-size: 15cqw;
  letter-spacing: 1px;
  font-weight: bold;
}
.Button img {
  max-width: 100%;
  width: 20%;
  margin-right: 5%;
}

