.FillBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.FillBar img {
  width: 27px;
  height: 27px;
  margin-right: -20px;
  z-index: 1;
}

.FillBarProgress {
  flex-grow: 1;
  height: 20px;
  position: relative;
  background-color: #3b3537;
  border-radius: 5px;
  overflow: hidden;
}

.FillBarProgress div {
  height: 100%;
  width: 0;
  background: linear-gradient(180deg, rgba(46, 199, 115, 1) 0%, rgba(9, 98, 78, 1) 100%);
 
  transition: width 0.5s ease;
}

.FillBarText {
  position: absolute;
  top: 66%;  /* Вертикальное центрирование */
  left: 40%;  /* Горизонтальное центрирование */
  transform: translate(-50%, -50%);  /* Для точного центрирования */
  color: white;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
  text-align: center; /* Выравнивание текста по горизонтали */
  text-shadow: 1px 1px 0px #2f292b, -1px -1px 0px #2f292b, 1px -1px 0px #2f292b, -1px 1px 0px #2f292b;
}

