.FillBar img {
    max-width: 100%;
    width: 20%;
  }
  
  .FillBar {
    position: relative;
    
    z-index: 1;
    display: flex;
  
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .FillBar div {
    position: absolute;
    left: 0; /* Начало заполнения слева */
    z-index: -1;
    transition: background-color 1s, width 1s; /* Анимация ширины */
    border-top-left-radius: 5px; /* Скругление верхнего левого угла */
    border-bottom-left-radius: 5px; /* Скругление нижнего левого угла */
    height: 100%; /* Заполнение всей высоты */
  }
  