.FillBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.FillBar img {
  width: 27px;
  height: 27px;
  margin-right: -20px;
  z-index: 1;
}

.FillBarProgress {
  border: solid 1px rgb(243, 117, 0);
  backdrop-filter: blur(5px);
  background-color: #2508047a;
  flex-grow: 1;
  height: 15px;
  position: relative;
 
  border-radius: 5px;
  overflow: hidden;
}

.FillBarProgress div {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, rgba(34, 199, 163, 0) 0%, rgb(243, 117, 0) 100%);
  transition: width 0.5s ease;
}

/* .FillBarText {
  position: absolute;
  top: 66%;  
  left: 40%;  
  transform: translate(-50%, -50%);  
  color: white;
  font-weight: bold;
  font-size: 14px;
  z-index: 2;
  text-align: center; 
  text-shadow: 1px 1px 0px #2f292b, -1px -1px 0px #2f292b, 1px -1px 0px #2f292b, -1px 1px 0px #2f292b;
} */

